.app-container{
    width: 100%;
    background-image: url("../src/assets/images/wildWest.jpg");
    background-position: center;
    background-size: cover;
}
.main-container{
    display: flex;
    flex-direction:column;
    max-width: 905px;
    gap:2rem;
    margin:0 auto;
    align-items: center;
}
.result-section{
    font-size: 2rem;
    text-align: center;
}
.finishedGame{
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}